<div class="container">
  <h1 id="title-index">Mes trips</h1>

  <%# TABS %>
  <ul class="nav nav-tabs nav-fill trips-tabs" id="myTab" role="tablist" >
    <li class="nav-item trips-tab" role="presentation">
      <button class="nav-link active" id="pending-trips-tab" data-bs-toggle="tab" data-bs-target="#pending-trips" type="button" role="tab" aria-controls="pending-trips" aria-selected="true">En attente</button>
    </li>
    <li class="nav-item trips-tab" role="presentation">
      <button class="nav-link" id="confirmed-trips-tab" data-bs-toggle="tab" data-bs-target="#confirmed-trips" type="button" role="tab" aria-controls="confirmed-trips" aria-selected="false">Confirmés</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <%# TRIP PENDING %>
    <div class="tab-pane fade show active" id="pending-trips" role="tabpanel" aria-labelledby="pending-trips-tab" >
      <div class="container-fluid container-card-xl-index mt-5">
        <% @my_pending_trips.each do |trip| %>
          <%# CARDS SELECT DISPO %>
          <%= render 'shared/cards/card_index_xl_dispo', trip: trip %>
        <% end %>
        <% @my_voting_trips.each do |trip| %>
          <%# CARDS VOTE DESTINATION %>
          <%= render 'shared/cards/card_index_xl_destination', trip: trip %>
        <% end %>
        <% @my_confirmed_trips.each do |trip| %>
          <% if Subscription.find_by(user: current_user, trip: trip).status == "pending" %>
            <%# CARDS CONFIRMED %>
            <%= render 'shared/cards/card_index_xl', trip: trip %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# TRIPCONFIRMED %>
    <div class="tab-pane fade" id="confirmed-trips" role="tabpanel" aria-labelledby="confirmed-trips-tab"  >
      <div class="container-trips">
        <div class="cards-grid-wrapper">
          <% @my_confirmed_trips.each do |trip| %>
            <%# CARDS %>
            <%= link_to trip_path(trip) do %>
                <div class="card-index">
                  <div class="card-index-img" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path trip.place_proposal.place.photo.key, crop: :fill, height: 400 %>')">
                    <h5 id="card-index-title"><strong><%= trip.place_proposal.place.city.upcase %></strong></h5>
                    <p id="card-index-texte"><%= trip.name %></p>
                    <p id="card-index-date">
                      <i class="fas fa-calendar-alt"></i>
                      <%= trip.trip_availabilities.first.start_at.strftime('%d/%m/%Y') %> - <%= trip.trip_availabilities.first.end_at.strftime('%d/%m/%Y') %>
                    </p>
                    <div class="container-mini-avatar">
                      <div class="card-index-footer">
                        <div class="mini-avatar">
                          <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{trip.user.ghname}"), class:"mini-avatar-img"  %>
                        </div>
                      </div>
                      <% trip.subscriptions.each do |name| %>
                        <% if trip.user != name.user %>
                          <div class="card-index-footer">
                            <div class="mini-avatar">
                              <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{name.user.ghname}"), class:"mini-avatar-img"  %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
        <%# MAP %>
        <div id="map" style="width: 30vw; height: 100vh;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>

<% @my_confirmed_trips.each do |trip| %>
  <%= render "shared/result", trip: trip %>
<% end %>

<script>
  function setClipboard(value) {
    var tempInput = document.createElement("input");
    tempInput.style = "position: absolute; left: -1000px; top: -1000px";
    tempInput.value = value;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
  }
</script>
