<div class="container">
  <h1 id="title-index">Mes trips</h1>

  <%# TABS %>
  <ul class="nav nav-tabs nav-fill trips-tabs" id="myTab" role="tablist">
    <li class="nav-item trips-tab" role="presentation">
      <button class="nav-link active" id="pending-trips-tab" data-bs-toggle="tab" data-bs-target="#pending-trips" type="button" role="tab" aria-controls="pending-trips" aria-selected="true">En attente</button>
    </li>
    <li class="nav-item trips-tab" role="presentation">
      <button class="nav-link" id="confirmed-trips-tab" data-bs-toggle="tab" data-bs-target="#confirmed-trips" type="button" role="tab" aria-controls="confirmed-trips" aria-selected="false">Confirmés</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <%# PENDING %>
    <div class="tab-pane fade show active" id="pending-trips" role="tabpanel" aria-labelledby="pending-trips-tab">
      <% @my_pending_trips.each do |trip| %>
        <%# CARDS %>
        <div class="col-md-6 offset-md-2 p-4">
          <div class="card-index-xl">
            <div class="card-index-xl-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72')">
              <h5 id="card-index-title">
                <strong><%= trip.name %></strong>
              </h5>
              <p id="card-index-date">
                <i class="fas fa-calendar-alt"></i>
                <%= Date::MONTHNAMES[trip.month] %>
              </p>
              <div class="card-index-texte">
                <p>Découvrez la ville choisie par vous et vos amis puis confirmez votre présence.</p>
                <p>Vous pourrez ensuite accéder au tableau de bord de votre futur voyage et vous organiser comme des chefs !</p>
              </div>
              <div class="footer-card-index-xl">
                <%= link_to "En attente des disponibilités", new_trip_trip_availability_path(trip), class: "button-orange-xxl " %>
              </div>
              <div class="card-avatar-orange">
                <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{trip.user.ghname}"), class:"img-card-avatar-orange"  %>
                <p class="first-name"><%= trip.user.username.capitalize %></p>
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% @my_voting_trips.each do |trip| %>
        <%# CARDS %>
        <div class="col-md-6 offset-md-2 p-4">
          <div class="card-index-xl">
            <div class="card-index-xl-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72')">
              <h5 id="card-index-title">
                <strong><%= trip.name %></strong>
              </h5>
              <p id="card-index-date">
                <i class="fas fa-calendar-alt"></i>
                <%= trip.trip_availabilities.first.start_at.strftime('%d/%m/%Y') %> - <%= trip.trip_availabilities.first.end_at.strftime('%d/%m/%Y') %>
              </p>
              <div class="card-index-texte">
                <p>Découvrez la ville choisie par vous et vos amis puis confirmez votre présence. <br>
                    Vous pourrez ensuite accéder au tableau de bord de votre futur voyage et vous organiser comme des chefs !</p>
              </div>
              <div class="footer-card-index-xl">
                <div class="button-orange-xxl">En attente des votes</div>
              </div>
              <div class="card-avatar-orange">
                <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{trip.user.ghname}"), class:"img-card-avatar-orange"  %>
                <p class="first-name"><%= trip.user.username.capitalize %></p>
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%# CONFIRMED %>
    <div class="tab-pane fade" id="confirmed-trips" role="tabpanel" aria-labelledby="confirmed-trips-tab">
      <div class="container-trips">
        <div class="cards-grid-wrapper">
          <% @my_confirmed_trips.each do |trip| %>
            <%# CARDS %>
            <div class="col-sm-6 p-4">
              <div class="card-index">
                <div class="card-index-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72')">
                  <h5 id="card-index-title"><strong><%= trip.place_proposal.place.city.upcase %></strong></h5>
                  <p id="card-index-texte"><%= trip.name %></p>
                  <p id="card-index-date">
                    <i class="fas fa-calendar-alt"></i>
                    <%= trip.trip_availabilities.first.start_at.strftime('%d/%m/%Y') %> - <%= trip.trip_availabilities.first.end_at.strftime('%d/%m/%Y') %>
                  </p>
                  <div class="card-index-footer">
                    <div class="mini-avatar">
                      <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{trip.user.ghname}"), class:"mini-avatar-img"  %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%# MAP %>
        <div id="map"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
