<% if @trip.status == "voting" %>
  <div class="container title-wrapper">
    <div class="show-title-text">
      <h2 class="show-h2"><%=@trip.name%></h2>
      <p class="show-tilte-subtitle">Ça colle pour tout le monde du <strong><%= @trip.trip_availabilities.first.start_at.strftime('%d') %> au <%= @trip.trip_availabilities.first.end_at.strftime('%d ') %><%= I18n.t("date.month_names")[@trip.month] %></strong> !</p>
    </div>
    <p id="subtitle-show"><em>Dépêchez-vous, vos amis attendent votre vote !</em></p>
  </div>

  <div class="container d-flex">
    <div class="container container-trip">
      <% @trip.place_proposals.uniq { |pp| pp.place_id }.each do |place_proposal|%>
          <div class="card-show">
            <div class="img-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place_proposal.place.photo.key, crop: :fill, height: 400 %>'); background-size: cover; background-repeat: no-repeat)"></div>
            <div class="card-infos-show">
              <h2><%= place_proposal.place.city %>, <%= place_proposal.place.country %></h2>
            </div>
            <div class="card-totem-show">
              <div class="mini-card-show-1">
                <p><i class="fas fa-bed"></i><p id="logement">LOGEMENT</p><p id="price-place"><%= place_proposal.place.lodging_cost %></p>
              </div>
              <div class="mini-card-show-2">
                <p><i class="fas fa-thermometer-half"></i><P id="meteo">METEO</p><P id="temperature"><%= place_proposal.place.temperature %></p>
              </div>
              <div class="mini-card-show-3">
                <p><i class="fas fa-beer"></i><p id="beer">BIERE</p><p id="price-beer"><%= place_proposal.place.pint_cost %></p>
              </div>
              <div class="button-show-card">
                <% unless @trip.votes.find_by(user: current_user) %>
                  <%= link_to "Voter", trip_votes_path(@trip, pp: place_proposal), method: :post, class: "btn button-vote" %>
                <% end %>
              </div>
              <div class="footer-card-show">
                <div class="footer-card-show-icon">
                  <i class="fas fa-plane"></i>
                </div>
                <div class="footer-card-show-text">
                  <p id="price-footer-text">PRIX</p>
                  <p id="footer-text">à partir de</p>
                </div>
                <div class="footer-card-show-price">
                  <p id="price-plane"><%= place_proposal.place.plane_cost %></p>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <div id="map"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

<% elsif @trip.status == "confirmed" %>
  <div class="container">
    <div class="img-show-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @trip.place_proposal.place.photo.key %>'); background-size: cover; background-repeat: no-repeat)"></div>
    <div class="container-chat-todo">
      <div class="chat">
        <%= simple_form_for([@trip, @message], remote: true, html: {class: "d-flex"}) do |f| %>
          <div class="input-group">
            <%= f.input :content, label: false, class: "form-control", placeholder: "Rédiger un nouveau message", wrapper_html: {class: "flex-grow-1 msg-wrapper"} %>
            <button class= "btn btn-send">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        <% end %>
          <div class="messages">
            <% @messages.each do |message| %>
              <%= render "trips/message", message: message %>
            <% end %>
          </div>
      </div>
      <div class="todo">
        <h1 class="title-dashboard"><strong><%=@trip.place_proposal.place.city%></strong></h1>
        <p class="date-dashboard"><%= @trip.trip_availabilities.first.start_at.strftime('%d') %> - <%= @trip.trip_availabilities.first.end_at.strftime("%d #{ I18n.t("date.month_names")[@trip.month] } %Y") %></p>
        <h2 class="title-todo-dashboard"><strong>To do list</strong></h2>
        <div class="to-do-list">
          <%= simple_form_for([@trip, @task], remote: true, html: {class: "d-flex"}) do |f| %>
            <div class="input-group">
              <%= f.input :name, label: false, class: "form-control", placeholder: "Ajouter un To-Do",  wrapper_html: {class: "flex-grow-1 msg-wrapper"} %>
              <button class="btn btn-send">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          <% end %>
          <div class="to-do-item">
            <div class="task">
              <div class="header-task task-infos">
                <p class="task-name"></p>
                <%@trip.subscriptions.sort_by { |sub| sub.user.username }.each do |name| %>
                  <div class="to-do-header">
                    <%=  image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{name.user.ghname}"),class:"avatar"  %>
                    <p class="first-name"><%=name.user.username.capitalize%></p>
                  </div>
                <% end %>
              </div>
            </div>
            <% @trip.tasks.each do |task| %>
              <div class="task">
                <div class="task-infos" data-controller="complete-task" data-complete-task-target="task">
                  <%= render "complete_task", task: task %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
