<div class="container">
  <h3><%= "#{@trip.name} (1 #{@trip.time_span})" %></h3>
  <p><strong>Bookez le créneau qui vous convient</strong></p>
  <div class="flex form-global">
    <div class="form flex">
      <div class="content flex">
        <div class="flex header-name">
          <div class="name"></div>
          <div class="flex">
            <% @trip.subscriptions.each do |sub| %>
              <div class="card-avatar names">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{sub.user.ghname}", class:"avatar"  %>
                  <p class="first-name"><%= sub.user.username.capitalize %></p>
                <div class="check">
                  <% if Availability.where(user_id: sub.user.id).first %>
                    <i class="fas fa-check"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% @trip_availabilities.each_with_index do |ta, index| %>
          <div class="flex ta">
            <div class="flex week">
              <p>Semaine <%= index + 1 %></p>
              <p><%= "#{ta.start_at.day} - #{ta.end_at.day} #{Date::MONTHNAMES[ta.start_at.month]} #{ta.start_at.year}" %></p>
            </div>
            <% @trip.subscriptions.each do |sub| %>
              <div class="flex av">
                <% av = Availability.where(user_id: sub.user.id, trip_availability_id: ta.id).first %>
                <% if av %>
                  <% if current_user == sub.user %>
                    <div class="flex" data-controller="availabilities" data-availabilities-target="container">
                      <%= render "remove_button", trip_av: ta, av: av %>
                    </div>
                  <% else %>
                    <p class="button-blue-xl-none">Dispo</p>
                  <% end %>
                <% else %>
                  <% if current_user == sub.user %>
                    <div class="flex" data-controller="availabilities" data-availabilities-target="container">
                      <%= render "add_button", trip_av: ta %>
                    </div>
                  <% else %>
                    <p class="button-blank">Pas dispo</p>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% if current_user.id == @trip.user_id %>
              <%= link_to "BOOKER", book_trip_path(@trip, trip_av: ta), method: :patch, class: "button-orange-xl" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to "Suite", trip_subscriptions_path, method: "post", class:"btn button-blue" %>
    </div>
  </div>
</div>
