<div class="container flex form-global">
  <div class="form flex">
    <h3><%= "#{@trip.name}" %></h3>
    <h5><%= "Entrez vos disponibilités pour le mois de #{Date::MONTHNAMES[@trip.month]}" %></h5>
    <hr>
    <div class="flex header-name">
      <strong>Participants</strong>
      <div class="flex names">
        <% @trip.subscriptions.each do |sub| %>
          <% if current_user == sub.user %>
          <p>Toi</p>
          <% else %>
            <p><%= sub.user.username.capitalize %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <% @trip_availabilities.each_with_index do |ta, index| %>
      <div class="flex week">
        <div>
          <p>Semaine <%= index + 1 %></p>
          <p><%= ta.start_at.strftime("%d-%m-%Y") %>/<%= ta.end_at.strftime("%d-%m-%Y") %></p>
        </div>
        <% @trip.subscriptions.each do |sub| %>
          <div class="flex av">
            <% av = Availability.where(user_id: sub.user.id, trip_availability_id: ta.id).first %>
            <% if av.is_a?(Availability) && av.available == "true" %>
              <% if current_user.id == sub.user.id %>
                <%= link_to "Dispo", trip_availability_availability_path(ta, av), method: :delete, class: "button-blue-xl" %>
              <% else %>
                <p class="button-blue-xl-none">Dispo</p>
              <% end %>
            <% else %>
              <% if current_user.id == sub.user.id %>
                <%= link_to "Pas dispo", trip_availability_availabilities_path(ta), method: :post, class: "button-orange-xl" %>
              <% else %>
                <p class="button-orange-xl-none">Pas dispo</p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= link_to "Suivant", trip_subscriptions_path, method: "post", class:"btn button-blue" %>

    <div class="place-proposal">
      <h3><%= "#{@trip.name}" %></h3>
      <h5>Proposez la prochaine destination</h5>
      <%= simple_form_for([@trip, @place_proposal]) do |f| %>
        <div class="category-wrapper">
          <input type="hidden" name="place_proposal[place_id]" value="">
          <% Place.all.each do |place| %>
            <div class="category-item">
              <input class="form-check-input radio_buttons required category-selector" type="radio" value="<%= place.id %>" name="place_proposal[place_id]" id="place_proposal_place_id_<%= place.id %>">
              <label class="form-check-label collection_radio_buttons" style="background-image: url('<%= cl_image_path place.photo.key %>'); background-size: cover; background-repeat: no-repeat)" for="place_proposal_place_id_<%= place.id %>"><%= place.city %></label>
            </div>
          <% end %>
        </div>
        <%= f.submit "Valider", class: "button-orange" %>
      <% end %>
    </div>
  </div>
</div>
