<div class="container">
  <h3 class="title-form"><%= "#{@trip.name}" %></h3>
  <div class="header flex justify-content-between align-items-center">
    <% if @trip.users.include?(current_user) %>
      <p class="subtitle-form"><strong><%= "Entrez vos disponibilités pour les semaines du mois de #{I18n.t("date.month_names")[@trip.month]} et proposez la prochaine destination !" %></strong></p>
    <% else %>
      <p class="subtitle-form"><strong>Cliquez pour renseigner vos disponibilités !</strong></p>
      <%= link_to "Rejoindre", trip_subscriptions_path(@trip), method: :post, class: "button-orange-xl mb-2" %>
    <% end %>
    <% if current_user == @trip.user %>
      <section>
        <% url = "http://www.planyourtripapp.me/trips/#{@trip.id}/trip_availabilities/new" %>
        <button id="button" class="button-orange" onclick="setClipboard(`<%= url %>`)" aria-describedby="tooltip">Invite tes amis</button>
        <div id="tooltip" role="tooltip">Copié
          <div id="arrow" data-popper-arrow></div>
        </div>
      </section>
    <% end %>
  </div>
  <div class="swiper" data-controller="button">
    <div class="swiper-wrapper">
      <%# AVAILABILITIES %>
      <div class="swiper-slide">
        <div class="form flex">
          <div class="content flex">
            <div class="flex header-name">
              <div class="name"></div>
              <div class="flex">
                <% @trip.subscriptions.each do |sub| %>
                  <div class="flex flex-column">
                    <div class="card-avatar names">
                      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{sub.user.ghname}", class:"avatar"  %>
                      <p class="first-name"><%= sub.user.username.capitalize %></p>
                      <% if current_user.id == @trip.user_id %>
                        <% if PlaceProposal.find_by(user: current_user, trip: @trip) %>
                          <div class="check">
                            <% c = 0 %>
                            <% TripAvailability.where(trip_id: @trip.id).each do |ta| %>
                              <% if Availability.where(user_id: sub.user.id, trip_availability_id: ta.id).first && c == 0 %>
                                <% c += 1 %>
                                <i class="fas fa-check"></i>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <% @trip_availabilities.each_with_index do |ta, index| %>
              <div class="flex ta">
                <div class="flex week">
                  <% if @trip.time_span == "Semaine" %>
                    <p>Semaine <%= index + 1 %></p>
                  <% else %>
                    <p>Week-end <%= index + 1 %></p>
                  <% end %>
                  <p><%= "#{ta.start_at.day} - #{ta.end_at.day} #{I18n.t("date.month_names")[ta.start_at.month].capitalize}" %></p>
                </div>
                <% @trip.subscriptions.each do |sub| %>
                  <div class="flex av">
                    <% av = Availability.where(user_id: sub.user.id, trip_availability_id: ta.id).first %>
                    <% if av %>
                      <% if current_user == sub.user %>
                        <div class="flex" data-controller="availabilities" data-availabilities-target="container">
                          <%= render "remove_button", trip_av: ta, av: av %>
                        </div>
                      <% else %>
                        <p class="button-blue-xl-none">Dispo</p>
                      <% end %>
                    <% else %>
                      <% if current_user == sub.user %>
                        <div class="flex" data-controller="availabilities" data-availabilities-target="container">
                          <%= render "add_button", trip_av: ta %>
                        </div>
                      <% else %>
                        <p class="button-blank"></p>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <% if current_user.id == @trip.user_id %>
                  <% if PlaceProposal.find_by(user: current_user, trip: @trip) %>
                    <%= link_to "BOOKER", book_trip_path(@trip, trip_av: ta), method: :patch, class: "button-orange-xl" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%# LOCALISATION %>
      <div class="swiper-slide">
        <div class="place-proposal">
          <%= simple_form_for([@trip, @place_proposal]) do |f| %>
            <div class="category-wrapper text-center">
              <input type="hidden" name="place_proposal[place_id]" value="">
              <% Place.all.each do |place| %>
                <div class="category-item">
                  <input class="form-check-input radio_buttons required category-selector" type="radio" value="<%= place.id %>" name="place_proposal[place_id]" id="place_proposal_place_id_<%= place.id %>">
                  <label class="form-check-label label-pp collection_radio_buttons" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path place.photo.key, crop: :fill, height: 400 %>'); background-size: cover;" for="place_proposal_place_id_<%= place.id %>"></label>
                  <p><%= place.city %></p>
                </div>
              <% end %>
            </div>
            <div class="text-center">
              <%= f.submit "Valider", id: "validate-button", class: "button-orange-xxl mt-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if !PlaceProposal.find_by(user: current_user, trip: @trip) %>
      <div class="swiper-button-next button-orange-xxl" data-action="click->button#next" data-button-target="next">Suivant</div>
    <% end %>
    <div class="swiper-button-prev button-grey-xxl d-none" data-action="click->button#previous" data-button-target="previous">Précédent</div>
  </div>
</div>

<script>
  function setClipboard(value) {
    var tempInput = document.createElement("input");
    tempInput.style = "position: absolute; left: -1000px; top: -1000px";
    tempInput.value = value;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
  }
</script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
  const button = document.querySelector('#button');
  const tooltip = document.querySelector('#tooltip');

  const popperInstance = Popper.createPopper(button, tooltip, {
    placement: "top",
    modifiers: [
      {
        name: 'offset',
        options: {
          offset: [0, 8],
        },
      },
    ],
  });

  function show() {
    tooltip.setAttribute('data-show', '');
    popperInstance.setOptions((options) => ({
      ...options,
      modifiers: [
        ...options.modifiers,
        { name: 'eventListeners', enabled: true },
      ],
    }));
    popperInstance.update();
  }

  function hide() {
    tooltip.removeAttribute('data-show');
    popperInstance.setOptions((options) => ({
      ...options,
      modifiers: [
        ...options.modifiers,
        { name: 'eventListeners', enabled: false },
      ],
    }));
  }

  const showEvents = ['mouse', 'click'];
  const hideEvents = ['mouseleave', 'blur'];
  showEvents.forEach((event) => {
    button.addEventListener(event, show);
  });
  hideEvents.forEach((event) => {
    button.addEventListener(event, hide);
  });
</script>
