<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logoPYT.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto flex">
        <% if user_signed_in? %>
          <% if !@trip.id %>
            <li class="nav-item">
              <div id="myBtn" class="nav-link">Nouveau voyage</div>
              <div id="myModal" class="modal-new-trip">
                <div class="modal-content-new-trip">
                  <div class="form-trip-title flex">
                    <h1>Créer un voyage</h1>
                    <i class="close far fa-times-circle"></i>
                  </div>
                  <%= simple_form_for(@trip) do |f| %>
                    <div class="flex" id="name-month">
                      <%= f.input :name, label: false, placeholder: "Titre", class: "input", id: "name-trip-input"%>
                      <%= f.input :month, collection: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                        label: false, prompt: "Mois", class: "input" %>
                    </div>
                    <div class="flex" id="button-form-week">
                      <%= f.input :time_span,
                        as: :radio_buttons,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'category-wrapper-1',
                        item_wrapper_class: 'category-item-1',
                        input_html: {class: 'category-selector-1'},
                        collection: ["Semaine", "Week-end"] %>
                      <%= f.submit "Valider", class: "button-orange"%>
                    </div>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to "Mes voyages", trips_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.ghname}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
