<div class="container-big d-flex">

  <div class="img img-result" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72', crop: :fill, height: 400 %>'); background-size: cover; background-repeat: no-repeat)">
  </div>
  <div class="container-informations">
  <h1><strong>Paris</strong>, France</h1>
    <div class="container-informations-price d-flex">
      <div class="mini-card-result-show-1">
        <p><i class="fas fa-bed"></i><p id="logement">LOGEMENT</p><p id="price-place">75€</p>
      </div>
      <div class="mini-card-result-show-2">
        <p><i class="fas fa-thermometer-half"></i><P id="meteo">METEO</p><P id="temperature">10°C</p>
      </div>
      <div class="mini-card-result-show-3">
        <p><i class="fas fa-beer"></i><p id="beer">BIERE</p><p id="price-beer">6€</p>
      </div>
      <div class="mini-card-result-show-4">
        <p><i class="fas fa-plane"></i><p id="plane">VOL</p><p id="price-plane">60€</p>
      </div>
    </div>

    <div class="container-informations-avatar d-flex">
      <div class="card-avatar card-avatar-blue">
        <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{current_user.ghname}"), class:"img-card-avatar-orange"  %>
          <p class="first-name"><%= current_user.username.capitalize %></p>
          <div class="check">
            <i class="fas fa-check"></i>
          </div>
      </div>
      <div class="card-avatar card-avatar-blue">
        <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{current_user.ghname}"), class:"img-card-avatar-orange"  %>
          <p class="first-name"><%= current_user.username.capitalize %></p>
          <div class="check">
            <i class="fas fa-check"></i>
          </div>
      </div>
      <div class="card-avatar card-avatar-blue">
        <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{current_user.ghname}"), class:"img-card-avatar-orange"  %>
          <p class="first-name"><%= current_user.username.capitalize %></p>
          <div class="check">
            <i class="fas fa-check"></i>
          </div>
      </div>
      <div class="card-avatar card-avatar-blue">
        <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{current_user.ghname}"), class:"img-card-avatar-orange"  %>
          <p class="first-name"><%= current_user.username.capitalize %></p>
          <div class="check">
            <i class="fas fa-check"></i>
          </div>
      </div>
    </div>
    <div class="container-buttons">
      <%= link_to "Vote pour la destination !", "#", class: "button-orange-xxl button-special" %>
      <%= link_to "Je passe mon tour ...", "#", class: "button-orange-xxl button_inverse" %>
    </div>
  </div>
</div>
