<!-- The Modal -->
<div class="modal fade" id="exampleModal<%= trip.id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= trip.id %>" aria-hidden="true">
  <div class="modal-dialog modal-result-dialog">
    <div class="modal-content modal-container">
      <div class="modal-body">
        <div class="container-big d-flex">
          <div class="img img-result" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path trip.place_proposal.place.photo.key, height: 500%>'); background-size: cover; background-repeat: no-repeat)">
          </div>
          <div class="container-informations">
            <h1 id="title-result"><strong><%= trip.place_proposal.place.city%></strong>,
            <%= trip.place_proposal.place.country %></h1>
            <p id="result-date">
                <i class="fas fa-calendar-alt"></i>
                <%= trip.trip_availability.start_at.strftime('%d/%m/%Y') %> - <%= trip.trip_availability.end_at.strftime('%d/%m/%Y') %>
            </p>
            <div class="container-informations-price d-flex">
              <div class="mini-card-result-show-1">
                <p><i class="fas fa-bed"></i><p id="logement">LOGEMENT</p><p id="price-place">
                <%= trip.place_proposal.place.lodging_cost %></p>
              </div>
              <div class="mini-card-result-show-2">
                <p><i class="fas fa-thermometer-half"></i><P id="meteo">METEO</p><P id="temperature">
                <%= trip.place_proposal.place.temperature %></p>
              </div>
              <div class="mini-card-result-show-3">
                <p><i class="fas fa-beer"></i><p id="beer">BIERE</p><p id="price-beer">
                <%= trip.place_proposal.place.pint_cost %></p>
              </div>
              <div class="mini-card-result-show-4">
                <p><i class="fas fa-plane"></i><p id="plane">VOL</p><p id="price-plane">
                <%= trip.place_proposal.place.plane_cost %></p>
              </div>
            </div>
            <div class="container-buttons">
              <%= link_to "Confirmer ma présence", trip_subscription_path(trip, Subscription.find_by(user: current_user, trip: trip).id), method: :patch, class: "button-orange-xxl button-special" %>
              <%= link_to "Passer mon tour", trip_subscription_path(trip, Subscription.find_by(user: current_user, trip: trip).id), method: :delete, class: "button-orange-xxl button_inverse" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
