<!-- The Modal -->
<div class="modal fade" id="exampleModal<%= trip.id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= trip.id %>" aria-hidden="true">
  <div class="modal-dialog modal-result-dialog">
    <div class="modal-content modal-container">

      <div class="modal-body">
        <div class="container-big d-flex">
          <div class="img img-result" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path trip.place_proposal.place.photo.key, crop: :fill, height: 400 %>'); background-size: cover; background-repeat: no-repeat)">
          </div>
          <div class="container-informations">
          <h1><strong><%= trip.place_proposal.place.city%></strong>,
          <%= trip.place_proposal.place.country %></h1>
            <div class="container-informations-price d-flex">
              <div class="mini-card-result-show-1">
                <p><i class="fas fa-bed"></i><p id="logement">LOGEMENT</p><p id="price-place">
                <%= trip.place_proposal.place.lodging_cost %></p>
              </div>
              <div class="mini-card-result-show-2">
                <p><i class="fas fa-thermometer-half"></i><P id="meteo">METEO</p><P id="temperature">
                <%= trip.place_proposal.place.temperature %></p>
              </div>
              <div class="mini-card-result-show-3">
                <p><i class="fas fa-beer"></i><p id="beer">BIERE</p><p id="price-beer">
                <%= trip.place_proposal.place.pint_cost %></p>
              </div>
              <div class="mini-card-result-show-4">
                <p><i class="fas fa-plane"></i><p id="plane">VOL</p><p id="price-plane">
                <%= trip.place_proposal.place.plane_cost %></p>
              </div>
            </div>


          <div class="container-informations-avatar d-flex">
            <% trip.subscriptions.each do |name| %>
              <div class="card-avatar card-avatar-blue">
                <%= image_tag image_url("https://kitt.lewagon.com/placeholder/users/#{name.user.ghname}"), class:"img-card-avatar-blue"  %>
                <p class="first-name"><%= name.user.username.capitalize %></p>
                <div class="check">
                  <i class="fas fa-check"></i>
                </div>
              </div>
            <% end %>
          </div>

            <div class="container-buttons">
              <%= link_to "Confirme que tu viens !", trip_path(trip), class: "button-orange-xxl button-special" %>
              <%= link_to "Je passe mon tour ...", trips_path, class: "button-orange-xxl button_inverse" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
