<div class="container flex form-global">
  <div class="form">
    <h1>Donne nous ta destination de rêve et tes disponibilités !</h1>
    <h3><%= "Trip : #{@trip.name} (#{@trip.duration} jours)" %></h3>
    <%= simple_form_for([@trip, @place_proposal]) do |f| %>
      <%= f.association :place, label: false, placeholder: "Destination" %>
      <%= f.submit "Ajoute ta destination préférée !" %>
    <% end %>
    <% if Availability.where(user_id: current_user.id, trip_id: @trip.id) %>
      <p>Celles que tu as déjà enregistré :</p>
      <% Availability.where(user_id: current_user.id, trip_id: @trip.id).each do |av| %>
        <%= "#{av.availability}" %><br>
      <% end %>
    <% end %>
    <%= simple_form_for([@trip, @availabilities]) do |f| %>
      <%= f.input :availability, as: :string, label: false, placeholder: "Dates", input_html: { class: "datepicker" } %>
      <%= f.submit "Ajoute tes disponibilités !" %>
      <%= link_to "Next", trips_path %>
    <% end %>
  </div>
</div>
